body {
  font-family: Arial;
  background-color: navajowhite;
  text-align: center;
}

form {
  background: palevioletred;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

input,
button {
  width: 90%;
  padding: 8px;
  margin: 8px;
  color: seagreen;
}
